@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap");
.content {
  background-color: #e3c0d3ff;
  min-height: 92vh; }

.grid {
  background-color: #e5e5e5; }
  @media (min-width: 900px) {
    .grid {
      display: grid;
      grid-template-columns: 1fr 0.5fr;
      grid-template-rows: 1fr;
      grid-column-gap: 0px;
      grid-row-gap: 0px; } }

.navbar {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -webkit-box-direction: normal;
  -webkit-box-orient: horizontal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-box-align: justify;
  -ms-flex-align: justify;
  -webkit-align-items: space-between;
  align-items: space-between;
  font-family: "roboto";
  max-height: 5vh;
  background-color: #303633ff;
  color: white;
  padding: 1.5rem; }
  .navbar .navbar-btn {
    color: white;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    text-decoration: none; }
  .navbar h2 {
    position: relative; }
    @media (min-width: 900px) {
      .navbar h2 {
        right: 13%; } }
    .navbar h2 a {
      color: white;
      text-decoration: none; }
  .navbar-mobile {
    display: none;
    font-family: "roboto";
    color: white;
    flex-direction: column;
    align-items: center;
    background-color: #303633ff;
    font-size: 2rem;
    min-height: 35vh; }
    @media (min-width: 900px) {
      .navbar-mobile {
        display: none; } }
    .navbar-mobile a {
      color: white;
      text-decoration: none;
      padding: 0.8rem; }
    .navbar-mobile-btn {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flex;
      display: flex;
      -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      -webkit-justify-content: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      -webkit-align-items: center;
      align-items: center;
      padding-top: 0.8rem;
      padding-bottom: 2rem;
      transform: translateX(0.2rem); }
      .navbar-mobile-btn button {
        padding-top: 0.8rem !important;
        padding-bottom: 0.8rem !important;
        margin-left: 0.3rem;
        margin-right: 0.3rem; }
  .navbar-start {
    display: none; }
    @media (min-width: 900px) {
      .navbar-start {
        display: flex; } }
  .navbar-end {
    display: none; }
    @media (min-width: 900px) {
      .navbar-end {
        display: flex; } }
  .navbar-toggle {
    display: flex;
    color: white;
    font-size: 1.5rem; }
    @media (min-width: 900px) {
      .navbar-toggle {
        display: none; } }

footer {
  display: flex;
  color: white;
  background-color: #303633ff;
  padding: 1.5rem; }
  @media (min-width: 1200px) {
    footer {
      width: 100%;
      position: absolute;
      bottom: 0;
      display: none; } }

.advert-1 {
  background-color: #C4C4C4;
  display: flex;
  padding-top: 3rem;
  padding-bottom: 3rem;
  padding-left: 1rem;
  overflow: hidden; }
  @media (min-width: 900px) {
    .advert-1 {
      min-height: 15rem; } }
  .advert-1-content {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    -webkit-box-direction: normal;
    -webkit-box-orient: vertical;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    font-family: "roboto";
    width: 80%;
    text-align: center; }
    .advert-1-content-callToAction {
      width: 80%;
      z-index: 99; }
    .advert-1-content-heading {
      padding-bottom: 0.2rem; }
    .advert-1-content-subheading {
      padding-top: 0rem;
      padding-bottom: 0.5rem; }
    .advert-1-content-price {
      padding-bottom: 1rem; }
      .advert-1-content-price .number {
        color: #3e7cb1ff; }
  .advert-1-img {
    width: 350%;
    height: 350%;
    transform: translateX(0rem) translateY(1.5rem);
    object-fit: contain;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none; }
    @media (min-width: 900px) {
      .advert-1-img {
        width: 300%;
        height: 700%;
        transform: translateX(0rem) translateY(5.5rem); } }
    .advert-1-img-container {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flex;
      display: flex;
      -webkit-box-direction: normal;
      -webkit-box-orient: vertical;
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      -webkit-justify-content: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      -webkit-align-items: center;
      align-items: center;
      width: 50%;
      height: 5rem; }

.advert-2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  color: white;
  background-color: #3e7cb1ff;
  display: flex;
  padding-top: 5rem;
  padding-bottom: 5rem; }
  @media (min-width: 1800px) {
    .advert-2 {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flex;
      display: flex;
      -webkit-box-direction: normal;
      -webkit-box-orient: horizontal;
      -webkit-flex-direction: row;
      -ms-flex-direction: row;
      flex-direction: row;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      -webkit-justify-content: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      -webkit-align-items: center;
      align-items: center; } }
  .advert-2-content {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    -webkit-box-direction: normal;
    -webkit-box-orient: vertical;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    width: 100%; }
    @media (min-width: 1800px) {
      .advert-2-content {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flex;
        display: flex;
        -webkit-box-direction: normal;
        -webkit-box-orient: horizontal;
        -webkit-flex-direction: row;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-box-pack: distribute;
        -ms-flex-pack: distribute;
        -webkit-justify-content: space-around;
        justify-content: space-around;
        -webkit-box-align: distribute;
        -ms-flex-align: distribute;
        -webkit-align-items: space-around;
        align-items: space-around; } }
    .advert-2-content-text {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flex;
      display: flex;
      -webkit-box-direction: normal;
      -webkit-box-orient: vertical;
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      -webkit-justify-content: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      -webkit-align-items: center;
      align-items: center; }
      @media (min-width: 1800px) {
        .advert-2-content-text {
          width: 70%; } }
    .advert-2-content-callToAction {
      width: 80%;
      font-weight: 100;
      font-size: 20px;
      font-family: "Roboto", sans-serif;
      background-color: #303633ff;
      color: white;
      border: 2px solid white; }
      @media (min-width: 1800px) {
        .advert-2-content-callToAction {
          width: 360px;
          margin-left: 4rem;
          margin-right: 8rem;
          font-size: 30px;
          padding-left: 2rem !important;
          padding-right: 2rem !important; } }
    .advert-2-content-heading {
      padding-bottom: 0.2rem;
      font-family: "Roboto", sans-serif;
      font-weight: 100;
      font-size: 2em; }
      @media (min-width: 1800px) {
        .advert-2-content-heading {
          font-size: 100px; } }
    .advert-2-content-subheading {
      padding-top: 0rem;
      padding-bottom: 0.5rem; }
      @media (min-width: 1800px) {
        .advert-2-content-subheading {
          font-size: 30px; } }
    .advert-2-content-price {
      padding-bottom: 0.4rem;
      font-family: "Roboto", sans-serif;
      font-weight: 100;
      padding-bottom: 1rem; }
      .advert-2-content-price .number {
        color: red;
        font-weight: 400; }
      @media (min-width: 1800px) {
        .advert-2-content-price {
          font-size: 30px; } }
  .advert-2-img {
    width: 10rem;
    height: 10rem;
    transform: translateX(0rem) translateY(0rem);
    object-fit: contain; }
    @media (min-width: 1800px) {
      .advert-2-img {
        width: 20rem;
        height: 18rem; } }
    .advert-2-img-container {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flex;
      display: flex;
      -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      -webkit-justify-content: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      -webkit-align-items: center;
      align-items: center;
      width: 30%; }

.button {
  border: none;
  border-radius: 0;
  border-style: none;
  padding: 1rem;
  text-decoration: none; }
  .button-primary {
    color: #303633ff;
    margin: 0.5rem;
    background-color: #C4C4C4; }
  .button-onyx {
    color: white;
    background-color: #303633ff; }

.slider {
  transition: background-image 0.5s;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  color: black;
  background: url("../../img/slides/slide2.jpg");
  background-size: cover;
  background-position: center;
  min-height: 15rem; }
  @media (min-width: 900px) {
    .slider {
      min-height: 30rem; } }
  .slider .controls {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    -webkit-flex-wrap: space-between;
    -ms-flex-wrap: space-between;
    flex-wrap: space-between;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    -webkit-justify-content: flex-end;
    justify-content: flex-end;
    -webkit-box-align: end;
    -ms-flex-align: end;
    -webkit-align-items: flex-end;
    align-items: flex-end;
    margin: 1rem;
    font-size: 1.5rem;
    color: white;
    position: relative;
    height: 2rem;
    width: 6rem; }
    .slider .controls i {
      padding-left: 0.5rem;
      padding-right: 0.5rem; }

.opt-in {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  background-color: #e5e5e5;
  padding: 3rem; }
  .opt-in-headings {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    -webkit-box-direction: normal;
    -webkit-box-orient: vertical;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    font-family: "Roboto", sans-serif;
    padding-bottom: 2rem; }
    .opt-in-headings h2 {
      font-weight: 100;
      font-size: 24; }
    .opt-in-headings p {
      font-weight: 100;
      font-size: 13; }
  .opt-in form {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    -webkit-box-direction: normal;
    -webkit-box-orient: vertical;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center; }
    .opt-in form input[type="submit"] {
      border-style: none;
      border-radius: 200px;
      width: 7rem;
      background-color: orange;
      color: white;
      font-weight: 400;
      font-size: 14px;
      font-family: "Roboto", sans-serif;
      margin-top: 2rem; }
    .opt-in form .input-group input[type="text"],
    .opt-in form .input-group input[type="email"] {
      min-width: 300px;
      height: 60px; }
      @media (min-width: 900px) {
        .opt-in form .input-group input[type="text"],
        .opt-in form .input-group input[type="email"] {
          min-width: 400px; } }
    .opt-in form .input-group label {
      display: flex;
      transform: translateY(2.2rem) translateX(1.2rem);
      color: #3e7cb1ff;
      font-weight: 300;
      font-family: "Roboto";
      font-size: 0.8rem; }

input, textarea {
  background-color: #303633ff;
  border-style: none;
  border-bottom: 2px solid #3e7cb1ff;
  margin: 0.5rem;
  padding-top: 0.5rem;
  padding-left: 1rem;
  color: white; }

.product-card {
  color: white;
  border: 4px solid #303633ff;
  max-width: 20rem;
  max-height: 26.5rem;
  margin: 2rem; }
  .product-card img {
    max-width: 20rem;
    max-height: 20rem; }
  .product-card-details {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    -webkit-box-direction: normal;
    -webkit-box-orient: vertical;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    padding: 1rem;
    background-color: #303633ff; }
  .product-card-title {
    font-weight: 100; }
  .product-card-price {
    padding-top: 1rem;
    font-weight: 100; }

.gallery {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
  -webkit-box-align: start;
  -ms-flex-align: start;
  -webkit-align-items: flex-start;
  align-items: flex-start; }
  .gallery img {
    border: #303633ff solid 3px;
    width: 10rem;
    height: 10rem;
    margin: 0.5rem; }

.content-about {
  background-color: #303633ff;
  min-height: 93.5vh; }
  @media (min-width: 900px) {
    .content-about {
      overflow: hidden; } }

.grid-wrapper {
  background-color: #303633ff;
  min-height: 60vh;
  max-height: 69.25vh; }
  @media (min-width: 900px) {
    .grid-wrapper {
      display: grid;
      grid-template-columns: 1fr 1.2fr 0.8fr 1fr;
      grid-template-rows: 1fr 1.2fr 1fr;
      gap: 0px 0px;
      grid-template-areas: "About-US About-US map map" "About-US About-US map map" "who who Address Address"; } }

.about-us {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  background-color: #303633ff;
  min-height: 50vh;
  font-family: "roboto"; }
  @media (min-width: 900px) {
    .about-us {
      grid-area: About-US;
      height: 100%;
      min-height: 50vh; } }
  .about-us-profile-wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    -webkit-box-direction: normal;
    -webkit-box-orient: vertical;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    margin-left: 1rem;
    margin-right: 1rem;
    width: 30%; }
  .about-us-who {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    -webkit-box-direction: normal;
    -webkit-box-orient: vertical;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    transform: translateY(14rem);
    background-color: #303633ff;
    padding-top: 2rem;
    padding-left: 4rem;
    padding-right: 4rem;
    padding-bottom: 2rem;
    color: white;
    font-family: "roboto";
    font-weight: 100; }
    .about-us-who p {
      width: 70%;
      text-align: right; }
    @media (min-width: 900px) {
      .about-us-who {
        flex-direction: row;
        grid-area: who;
        height: auto;
        transform: translateY(10rem);
        padding-bottom: 5rem;
        background: none; } }
    @media (min-width: 600px) {
      .about-us-who {
        transform: translateY(75%);
        background: none; } }
    .about-us-who-profile {
      margin-top: 1rem;
      width: 5em;
      height: 5em;
      border-radius: 50%;
      object-fit: contain; }
    .about-us-who button {
      font-family: "roboto";
      font-weight: 100;
      margin-top: 1rem;
      padding-top: 0.5rem;
      padding-bottom: 0.5rem;
      padding-left: 1.5rem;
      padding-right: 1.5rem; }
  .about-us-header {
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    align-items: center;
    max-width: 80%;
    font-family: "roboto";
    font-weight: 100;
    padding-bottom: 3em;
    text-align: center; }
  .about-us-location {
    background-color: #C4C4C4;
    height: 25em; }
    @media (min-width: 900px) {
      .about-us-location {
        grid-area: map; } }
    .about-us-location-maps {
      background-color: #303633ff;
      width: 100%;
      height: 60vh; }
    .about-us-location-address {
      background-color: #C4C4C4;
      justify-content: center;
      height: 10rem;
      padding-bottom: 2.5rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      background-color: #C4C4C4;
      font-family: "roboto";
      transform: translateY(-6.5rem); }
      @media (min-width: 900px) {
        .about-us-location-address {
          grid-area: Address;
          height: 32vh;
          transform: none; } }
      .about-us-location-address h2 {
        font-weight: 100;
        padding-bottom: 0.8rem; }
      .about-us-location-address p {
        font-weight: 100; }
  .about-us h2 {
    color: white;
    font-size: 50px;
    font-weight: 100; }

.blog {
  display: flex;
  background-color: lightgray;
  min-height: 93.5vh; }
  @media (min-width: 900px) {
    .blog {
      padding-left: 3rem; } }
  .blog .posts {
    padding: 1rem;
    display: flex; }
    @media (max-width: 599px) {
      .blog .posts {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flex;
        display: flex;
        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center; } }
    @media (min-width: 900px) {
      .blog .posts {
        padding: 4rem 30rem 4rem 4rem; } }
    .blog .posts .post {
      font-family: "roboto"; }
      .blog .posts .post-title {
        font-weight: 300; }
      .blog .posts .post-excerpt {
        color: black;
        padding-bottom: 1.5rem;
        font-weight: 200; }
      .blog .posts .post-readmore {
        background-color: white;
        padding-left: 1.5rem;
        padding-right: 1.5rem; }
  .blog .sidebar {
    display: none;
    flex-direction: column;
    text-align: center;
    font-family: "roboto";
    color: white;
    background-color: #303633ff;
    width: 20rem;
    padding-top: 3rem;
    list-style: none;
    padding-left: 1rem;
    padding-right: 1rem; }
    .blog .sidebar-nav {
      list-style: none;
      padding-inline-start: 0; }
    @media (min-width: 900px) {
      .blog .sidebar {
        display: flex; } }
    .blog .sidebar-header {
      font-weight: 300; }
    .blog .sidebar .category {
      margin-bottom: 0.5rem;
      margin-top: 0.5rem;
      font-weight: 100; }
      .blog .sidebar .category a {
        text-decoration: none;
        color: white; }

.page-contact {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  background-color: #C4C4C4;
  min-height: 76vh; }
  .page-contact .or {
    display: none;
    font-family: "roboto";
    font-size: 2rem;
    font-weight: 100; }
  @media (min-width: 1200px) {
    .page-contact {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flex;
      display: flex;
      -webkit-flex-wrap: row-reversed;
      -ms-flex-wrap: row-reversed;
      flex-wrap: row-reversed;
      -webkit-box-pack: distribute;
      -ms-flex-pack: distribute;
      -webkit-justify-content: space-around;
      justify-content: space-around;
      -webkit-box-align: center;
      -ms-flex-align: center;
      -webkit-align-items: center;
      align-items: center;
      padding: 5rem 15rem 5rem; }
      .page-contact .or {
        display: flex; } }

.page-contact-how {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "roboto";
  padding-top: 5rem;
  padding-bottom: 5rem;
  flex-direction: column; }
  .page-contact-how h1 {
    font-weight: 300; }
  .page-contact-how h4 {
    font-weight: 200; }
  .page-contact-how-grid {
    display: flex;
    flex-direction: row;
    padding-top: 1rem;
    padding-bottom: 1rem; }
    .page-contact-how-grid .social-square {
      margin-left: 0.25rem;
      margin-right: 0.25rem;
      padding: 2rem 2.25rem;
      font-size: 1.5rem; }
      .page-contact-how-grid .social-square .fab {
        color: white !important; }
      .page-contact-how-grid .social-square-facebook {
        background-color: #385898; }
      .page-contact-how-grid .social-square-twitter {
        background-color: #1da1f2; }
      .page-contact-how-grid .social-square-instagram {
        background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%); }

.page-contact-quick {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "roboto";
  padding-top: 2rem; }
  .page-contact-quick h1 {
    font-weight: 300; }
  .page-contact-quick form {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding-top: 0.5rem; }
    .page-contact-quick form .submit {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flex;
      display: flex;
      -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      -webkit-justify-content: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      -webkit-align-items: center;
      align-items: center;
      border-style: none;
      border-radius: 200px;
      background-color: orange;
      color: white;
      font-weight: 400;
      font-size: 1rem;
      font-family: "Roboto", sans-serif;
      padding-left: 2rem;
      padding-right: 2rem; }
    .page-contact-quick form .input-group {
      width: 100%;
      transform: translateX(-1rem); }
      .page-contact-quick form .input-group input {
        height: 60px;
        width: 100%; }
      .page-contact-quick form .input-group label {
        display: flex;
        transform: translateY(2.2rem) translateX(1.2rem);
        color: #3e7cb1ff;
        font-weight: 300;
        font-family: "Roboto";
        font-size: 0.8rem; }
    .page-contact-quick form .page-contact-quick-meessage {
      height: 150px;
      width: 100%; }

.content-history {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  background-color: #303633ff;
  max-height: 93.5vh;
  overflow: hidden; }
  @media (min-width: 900px) {
    .content-history {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flex;
      display: flex;
      -webkit-box-direction: normal;
      -webkit-box-orient: horizontal;
      -webkit-flex-direction: row;
      -ms-flex-direction: row;
      flex-direction: row;
      -webkit-box-pack: start;
      -ms-flex-pack: start;
      -webkit-justify-content: flex-start;
      justify-content: flex-start;
      -webkit-box-align: start;
      -ms-flex-align: start;
      -webkit-align-items: flex-start;
      align-items: flex-start; } }

.history {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  padding-bottom: 5rem;
  padding: 2.5rem;
  font-family: "roboto";
  z-index: 99;
  border-radius: 0px 0px 5% 5%;
  height: 100%;
  width: 100%;
  padding-top: 10vh;
  padding-bottom: 0; }
  @media (min-width: 900px) {
    .history {
      padding-top: 10%;
      padding-bottom: 36.5vh; } }
  @media (min-width: 1200px) {
    .history {
      padding-top: 36.5vh; } }
  @media (min-width: 900px) {
    .history {
      border-radius: 0; }
      .history-header {
        width: 50%; }
      .history .timelines {
        width: 20%; } }
    @media (min-width: 900px) and (min-width: 900px) {
      .history .timelines {
        padding-right: 3rem; } }
  .history-header {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    color: white; }
    .history-header h2 {
      padding-bottom: 0.2rem;
      font-weight: 300; }
    .history-header p {
      text-align: center;
      font-weight: 100; }
  .history .timeline-left {
    flex-direction: row; }
    .history .timeline-left .timeline-date {
      transform: translateX(-2.5rem); }
      .history .timeline-left .timeline-date p {
        transform: translateX(0.5rem); }
        @media (min-width: 900px) {
          .history .timeline-left .timeline-date p {
            transform: translateX(0) !important; } }
  .history .timeline-right {
    flex-direction: row-reverse; }
    .history .timeline-right .timeline-content {
      text-align: right; }
    .history .timeline-right .timeline-date {
      transform: translateX(2.5rem); }
      .history .timeline-right .timeline-date p {
        transform: translateX(-0.5rem); }
        @media (min-width: 900px) {
          .history .timeline-right .timeline-date p {
            transform: translateX(0) !important; } }
  .history .timelines {
    padding-top: 2rem;
    padding-bottom: 2rem;
    width: 60%; }
  .history .timeline {
    display: flex;
    font-weight: 100;
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem; }
    .history .timeline-date {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flex;
      display: flex;
      -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      -webkit-justify-content: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      -webkit-align-items: center;
      align-items: center;
      font-weight: 400; }
      .history .timeline-date::before {
        content: "";
        position: absolute;
        background-color: white;
        border-radius: 50%;
        width: 100px;
        height: 100px;
        z-index: 1; }
      .history .timeline-date p {
        color: black;
        z-index: 2; }
    .history .timeline-content {
      padding-left: 0.5rem;
      padding-right: 0.5rem;
      width: 90%;
      color: white; }

.present {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  font-family: "roboto";
  background-color: white;
  min-height: 20vh;
  z-index: 50;
  padding: 2em;
  padding-top: 20vh;
  padding-bottom: 20vh;
  text-align: center; }
  .present h2 {
    font-weight: 300; }
  .present p {
    font-weight: 100;
    font-size: 1.2rem; }
  .present .button {
    margin-top: 2em; }
  @media (min-width: 900px) {
    .present {
      padding-top: 36.5vh;
      padding-bottom: 36.5vh; } }

.our-team {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-self: center;
  width: 100%;
  height: 100%;
  min-height: 92vh;
  font-family: "roboto";
  text-transform: uppercase;
  background-color: #C4C4C4; }
  .our-team h1 {
    font-size: 3rem;
    font-weight: 100; }
  .our-team p {
    max-width: 50rem;
    text-align: center;
    font-weight: 500; }

.people {
  display: flex;
  padding-bottom: 4rem; }
  .people .person {
    margin: 2rem;
    max-width: 20rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    text-align: center; }
    .people .person-name {
      font-weight: 400;
      padding-top: 2rem; }
    .people .person-description {
      font-weight: 100; }
    .people .person-img {
      width: 8rem;
      height: 8rem;
      border-radius: 50%;
      object-fit: contain; }

.content-repairs {
  color: #C4C4C4;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  background-color: #303633ff;
  font-family: "roboto";
  text-transform: uppercase; }

.repairs {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -webkit-flex-wrap: center;
  -ms-flex-wrap: center;
  flex-wrap: center;
  -webkit-box-pack: distribute;
  -ms-flex-pack: distribute;
  -webkit-justify-content: space-around;
  justify-content: space-around;
  -webkit-box-align: distribute;
  -ms-flex-align: distribute;
  -webkit-align-items: space-around;
  align-items: space-around;
  width: 100%; }
  .repairs .col {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    color: black;
    background: #C4C4C4;
    display: flex;
    flex-direction: column;
    padding: 6rem;
    padding-top: 10rem;
    text-align: center;
    width: 20%;
    padding-bottom: 10rem; }
    .repairs .col h2 {
      padding-bottom: 1rem; }
    .repairs .col p {
      padding-bottom: 2rem; }
    .repairs .col .fa {
      padding-right: 0.5rem; }

.shop {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  font-family: "roboto";
  padding: 3rem;
  background-color: #C4C4C4;
  height: 100%; }
  @media (min-width: 900px) {
    .shop {
      justify-content: flex-start;
      align-items: flex-start; } }
  .shop h1 {
    font-weight: 100; }
    @media (min-width: 900px) {
      .shop h1 {
        padding-left: 2rem; } }

.products {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
  -webkit-box-align: start;
  -ms-flex-align: start;
  -webkit-align-items: flex-start;
  align-items: flex-start;
  min-height: 74vh; }
  @media (min-width: 900px) {
    .products {
      flex-direction: row; } }

.gallery-page {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
  -webkit-box-align: start;
  -ms-flex-align: start;
  -webkit-align-items: flex-start;
  align-items: flex-start;
  padding: 4rem;
  font-family: "roboto";
  background-color: #C4C4C4;
  min-height: 92vh; }
  .gallery-page h1 {
    font-size: 3rem;
    text-transform: uppercase;
    font-weight: 100; }

body {
  margin: 0;
  overflow-x: hidden;
  width: 100%;
  height: 100%; }

h2, h3, p, h4 {
  margin-block-start: 0 !important;
  margin-block-end: 0 !important; }
