@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap');

//Variables
@import 'variables/mixins/mq';
@import 'variables/colors';
@import 'variables/mixins/scss-flex-dat/flex-dat';

//Layouts
@import 'layout/content';

//Components
@import 'components/navbar';
@import 'components/footer';
@import 'components/advert1';
@import 'components/advert2';
@import 'components/buttons';
@import 'components/slider';
@import 'components/opt-in';
@import 'components/inputs';
@import 'components/product-card';
@import 'components/gallery';

//Page Specific
@import 'pages/about_us';
@import 'pages/blog';
@import 'pages/contact_us';
@import 'pages/history';
@import 'pages/home';
@import 'pages/our_team';
@import 'pages/repairs';
@import 'pages/shop';

@import 'pages/gallery';

// Quick Fixes
body {
    margin: 0;
    overflow-x: hidden;
    width: 100%;
    height: 100%;
}

h2, h3, p, h4 {
    margin-block-start: 0 !important;
    margin-block-end: 0 !important;
}