$onyx: #303633ff;
$magic-mint: #8be8cbff;
$steel-blue: #3e7cb1ff;
$dark-orange: #ff8600ff;
$cinnabar: #dc493aff;
$old-mauve: #4c243bff;
$thistle: #e3c0d3ff;
$beige: #C4C4C4;


//Social
$twitter: rgba(29,161,242,1.00);
$facebook: #385898;
$instagram: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);

//Content
$contentBGColor: $thistle;

//Slider
$sliderControlColor: white;
$sliderDefaultBG: url('../../img/slides/slide2.jpg');

//Opt In
$optInBGColor:#e5e5e5;
$optInPadding: 3rem;
$optInSubmitButton: orange;
$optInInputBGColor: $onyx;
$optInInputLineColor: $steel-blue;
$optInInputColor: white;
$optInInputLabelColor: $steel-blue;

//Navbar
$navbarBGColor: $onyx;
$navbarColor: white;
$navbarPadding: 1.5rem;
$navbarToggleColor: white;

//Footer
$footerBGColor: $onyx;
$footerColor: white;
$footerPadding: 1.5rem;