.content-about {
  @include for-size(tablet-landscape-up) {
    overflow: hidden;
  }
  background-color: $onyx;
  min-height: 93.5vh;
}

.grid-wrapper {
  background-color: $onyx;
  @include for-size(tablet-landscape-up) {
    display: grid;
    grid-template-columns: 1fr 1.2fr 0.8fr 1fr;
    grid-template-rows: 1fr 1.2fr 1fr;
    gap: 0px 0px;
    grid-template-areas:
      "About-US About-US map map"
      "About-US About-US map map"
      "who who Address Address";
  }

  min-height: 60vh;
  max-height: 69.25vh;
}

.about-us {
  @include flex-dat('center', 'column');
  @include for-size(tablet-landscape-up) {
    grid-area: About-US;
    height: 100%;
    min-height: 50vh;
  }

  background-color: $onyx;
  min-height: 50vh;
  font-family: "roboto";

  &-profile-wrapper {
    @include flex-dat('center', 'column');
    margin-left: 1rem;
    margin-right: 1rem;
    width: 30%;
  }

  &-who {
    @include flex-dat('center', 'column');
    transform: translateY(14rem);
    background-color: $onyx;
    
    p {
      width: 70%;
      text-align: right;
    }

    @include for-size(tablet-landscape-up) {
      flex-direction: row;
      grid-area: who;
      height: auto;
      transform: translateY(10rem);
      padding-bottom: 5rem;
      background: none;
    }

    @include for-size(tablet-portrait-up) {
      transform: translateY(75%);
      background: none;
    }

    padding-top: 2rem;
    padding-left: 4rem;
    padding-right: 4rem;
    padding-bottom: 2rem;

    color: white;
    font-family: "roboto";
    font-weight: 100;

    &-profile {
      margin-top: 1rem;
      width: 5em;
      height: 5em;
      border-radius: 50%;
      object-fit: contain;
    }

    button {
      font-family: "roboto";
      font-weight: 100;
      margin-top: 1rem;
      padding-top: 0.5rem;
      padding-bottom: 0.5rem;
      padding-left: 1.5rem;
      padding-right: 1.5rem;
    }
  }

  &-header {
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    align-items: center;
    max-width: 80%;
    font-family: "roboto";
    font-weight: 100;
    padding-bottom: 3em;

    text-align: center;
  }

  &-location {
    background-color: $beige;
    height: 25em;
    @include for-size(tablet-landscape-up) {
      grid-area: map;
    }

    &-maps {
      background-color: $onyx;
      width: 100%;
      height: 60vh;
    }

    &-address {
      @include for-size(tablet-landscape-up) {
        grid-area: Address;
        height: 32vh;
        transform: none;
      }
      background-color: $beige;
      justify-content: center;
      height: 10rem;
      padding-bottom: 2.5rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      background-color: $beige;
      font-family: "roboto";
      transform: translateY(-6.5rem);
      h2 {
        font-weight: 100;
        padding-bottom: 0.8rem;
      }

      p {
        font-weight: 100;
      }
    }
  }

  h2 {
    color: white;
    font-size: 50px;
    font-weight: 100;
  }
}
