.blog {
    display: flex;
    background-color: lightgray;
    @include for-size(tablet-landscape-up) {
        padding-left: 3rem;
    }


    min-height: 93.5vh;

    .posts {
        padding: 1rem;
        display: flex;

        @include for-size(phone-only) {
            @include flex-dat('center');
        }

        @include for-size(tablet-landscape-up) {
            padding: 4rem 30rem 4rem 4rem;
        }
        .post {
            font-family: "roboto";
            &-title{
                font-weight: 300;
            }

            &-excerpt {
                color: black;
                padding-bottom: 1.5rem;
                font-weight: 200;
            }

            &-readmore {
                background-color: white;
                padding-left: 1.5rem;
                padding-right: 1.5rem;
            }
        }
    }


    .sidebar {
        display: none;
        flex-direction: column;
        text-align: center;
        font-family: "roboto";
        color: white;
        background-color: $onyx;
        width: 20rem;
        padding-top: 3rem;
        list-style: none;
        padding-left: 1rem;
        padding-right: 1rem;

        &-nav {
            list-style: none;
            padding-inline-start: 0;
        }

        @include for-size(tablet-landscape-up) {
            display: flex;
        }

        &-header {
            font-weight: 300;
        }

        .category {
            margin-bottom: 0.5rem;
            margin-top: 0.5rem;
            font-weight: 100;

            a {
                text-decoration: none;
                color: white;
            }
        }
    }
}