@mixin flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@mixin contact-font {
  font-family: "roboto";

  h1 {
    font-weight: 300;
  }
}

.page-contact {
  @include flex-dat('center');
  background-color: $beige;
  min-height: 76vh;

  .or {
    display: none;
    font-family: "roboto";
    font-size: 2rem;
    font-weight: 100;
  }

  @include for-size(desktop-up) {
    @include flex-dat('center space-around', 'row-reversed');
    padding: 5rem 15rem 5rem;

    .or {
      display: flex;
    }
  }
}

.page-contact-how {
  @include flex;
  @include contact-font;

  padding-top: 5rem;
  padding-bottom: 5rem;
  flex-direction: column;

  h4 {
    font-weight: 200;
  }

  &-grid {
    display: flex;
    flex-direction: row;
    padding-top: 1rem;
    padding-bottom: 1rem;
    
    .social-square {
      margin-left: 0.25rem;
      margin-right: 0.25rem;
      padding: 2rem 2.25rem;
      font-size: 1.5rem;

      .fab {
        color: white !important;
      }

      &-facebook {
        background-color: $facebook;
      }

      &-twitter {
        background-color: $twitter;
      }

      &-instagram {
        background: $instagram;
      }
    }
  }
}

.page-contact-quick {
  @include flex;
  @include contact-font;
  padding-top: 2rem;

  form {
    @include flex-dat('center');
    width: 100%;
    height: 100%;
    padding-top: 0.5rem;

    .submit {
      @include flex-dat('center');
      border-style: none;
      border-radius: 200px;
      background-color: $optInSubmitButton;
      color: white;
      font-weight: 400;
      font-size: 1rem;
      font-family: "Roboto", sans-serif;

      padding-left: 2rem;
      padding-right: 2rem;

    }

    .input-group {
        width: 100%;
        transform: translateX(-1rem);

      input {
        height: 60px;
        width: 100%;
      }
      
      label {
        display: flex;
        transform: translateY(2.2rem) translateX(1.2rem);
        color: $optInInputLabelColor;
        font-weight: 300;
        font-family: "Roboto";
        font-size: 0.8rem;
      }
    }

    .page-contact-quick-meessage {
      height: 150px;
      width: 100%;
    }
  }
}
