.gallery-page {
    @include flex-dat('start', 'column');
    padding: 4rem;
    font-family: "roboto";
    background-color: $beige;
    min-height: 92vh;

    h1 {
        font-size: 3rem;
        text-transform: uppercase;
        font-weight: 100;    
    }
}