.content-history {
  @include flex-dat('center', 'column');
  background-color: $onyx;
  max-height: 93.5vh;
  overflow: hidden;


  @include for-size(tablet-landscape-up) {
    @include flex-dat('start', 'row');
  }

}

.history {
  @include flex-dat('center');
  padding-bottom: 5rem; 
  padding: 2.5rem;
  font-family: "roboto";
  z-index: 99;
  border-radius: 0px 0px 5% 5%;
  height: 100%;
  width: 100%;
  padding-top: 10vh;
  padding-bottom: 0;


  @include for-size(tablet-landscape-up) {
    padding-top: 10%;
    padding-bottom: 36.5vh;
  }

  @include for-size(desktop-up) {
    padding-top: 36.5vh;
  }

  @include for-size(tablet-landscape-up) {
    border-radius: 0;
    &-header {
      width: 50%;
    }

    .timelines {
      width: 20%;

      @include for-size(tablet-landscape-up) {
        padding-right: 3rem;
      }
    }
  }

  &-header {
    @include flex-dat('center');

    color: white;
    h2 {
      padding-bottom: 0.2rem;
      font-weight: 300;
    }

    p {
      text-align: center;
      font-weight: 100;
    }
  }

  .timeline-left {
    flex-direction: row;
    .timeline-date {
      transform: translateX(-2.5rem);

      p {
        transform: translateX(0.5rem);

        @include for-size(tablet-landscape-up) {
          transform: translateX(0) !important;
        }
      }
    }
  }

  .timeline-right {
    flex-direction: row-reverse;
    .timeline-content {
      text-align: right;
    }

    .timeline-date {
      transform: translateX(2.5rem);

      p {
        transform: translateX(-0.5rem);

        @include for-size(tablet-landscape-up) {
          transform: translateX(0) !important;
        }
      }
    }
  }

  .timelines {
    padding-top: 2rem;
    padding-bottom: 2rem;
    width: 60%;
  }

  .timeline {
    display: flex;

    font-weight: 100;

    margin-top: 1rem;
    margin-bottom: 1rem;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;

    &-date {
      @include flex-dat();

      font-weight: 400;

      &::before {
        content: "";
        position: absolute;
        background-color: white;
        border-radius: 50%;
        width: 100px;
        height: 100px;
        z-index: 1;
      }

      p {
        color: black;
        z-index: 2;
      }
    }

    &-content {
      padding-left: 0.5rem;
      padding-right: 0.5rem;
      width: 90%;
      color: white;
    }
  }
}

.present {
  @include flex-dat('center');
  font-family: "roboto";
  background-color: white;

  h2 {
    font-weight: 300;
  }

  p {
    font-weight: 100;
    font-size: 1.2rem;
  }

  .button {
    margin-top: 2em;
  }

  min-height: 20vh;
  z-index: 50;

  padding: 2em;
  padding-top: 20vh;
  padding-bottom: 20vh;


  @include for-size(tablet-landscape-up) {
    padding-top: 36.5vh;
    padding-bottom: 36.5vh;
  }

  text-align: center;
}
