.our-team {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: center;
    width: 100%;
    height: 100%;
    min-height: 92vh;
    font-family: "roboto";
    text-transform: uppercase;
    background-color: $beige;

    h1 {
        font-size: 3rem;
        font-weight: 100;
    }

    p {
        max-width: 50rem;
        text-align: center;
        font-weight: 500;
    }
}


.people {
    display: flex;
    $imgSize: 8rem;
    padding-bottom: 4rem;

    .person {
        margin: 2rem;
        max-width: 20rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        align-content: center;
        text-align: center;

        &-name {
            font-weight: 400;
            padding-top: 2rem;
        }

        &-description {
            font-weight: 100;
        }

        &-img {
            width: $imgSize;
            height: $imgSize;
            border-radius: 50%;
            object-fit: contain;
        }
    }
}