.content-repairs {
    color: $beige;
    @include flex-dat('center', 'column');
    background-color: $onyx;
    font-family: "roboto";
    text-transform: uppercase;
}

.repairs {
   @include flex-dat('space-around', 'center');
    width: 100%;

    .col {
        @include flex-dat('center');
        color: black;
        background: $beige;
        display: flex;
        flex-direction: column;
        padding: 6rem;
        padding-top: 10rem;
        text-align: center;
        width: 20%;
        padding-bottom: 10rem;

        h2 {
            padding-bottom: 1rem;
        }

        p{
            padding-bottom: 2rem;
        }

        .fa {
            padding-right: 0.5rem;
        }
    }
}