.shop {
  @include flex-dat('center', 'column');
  font-family: "roboto";
  padding: 3rem;
  background-color: $beige;
  height: 100%;


  @include for-size(tablet-landscape-up) {
    justify-content: flex-start;
    align-items: flex-start;
  }

  h1 {
    @include for-size(tablet-landscape-up) {
      padding-left: 2rem;
    }

    font-weight: 100;
  }
}

.products {
  @include flex-dat('start', 'column');

  @include for-size(tablet-landscape-up) {
    flex-direction: row;
  }

  min-height: 74vh;
}
