.content {
  background-color: $contentBGColor;
  min-height: 92vh;
}

.grid {
  background-color: $optInBGColor;
  @include for-size(tablet-landscape-up) {
    display: grid;
    grid-template-columns: 1fr 0.5fr;
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
  }
}
