$background: $steel-blue;
$padding: 5rem; 
$buttonBG: $onyx;

.advert-2 {
    @include flex-dat('center', 'column');
    @include for-size(big-desktop-up) {
      @include flex-dat('center', 'row');
    }

    text-align: center;
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    color: white;
    background-color: $background;
    display: flex;
    padding-top: $padding;
    padding-bottom: $padding;
  
    &-content {
      @include flex-dat('center',  'column');
      width: 100%;
  
      @include for-size(big-desktop-up) {
        @include flex-dat('space-around', 'row');
      }
  
      &-text {
        @include flex-dat('center', 'column');
        @include for-size(big-desktop-up) {
          width: 70%;
        }
      }
  
      &-callToAction {
        width: 80%;
        font-weight: 100;
        font-size: 20px;
        font-family: "Roboto", sans-serif;
        background-color: $buttonBG;
        color: white;
        border: 2px solid white;
  
        @include for-size(big-desktop-up) {
          width: 360px;
          margin-left: 4rem;
          margin-right: 8rem;

          font-size: 30px;
          padding-left: 2rem !important; 
          padding-right: 2rem !important;
        }
      }
  
      &-heading {
        padding-bottom: 0.2rem;
        font-family: "Roboto", sans-serif;
        font-weight: 100;
        font-size: 2em;
  
        @include for-size(big-desktop-up) {
          font-size: 100px;
        }
      }
  
      &-subheading {
        padding-top: 0rem;
        padding-bottom: 0.5rem;
  
        @include for-size(big-desktop-up) {
          font-size: 30px;
        }
      }
  
      &-price {
        padding-bottom: 0.4rem;
        font-family: "Roboto", sans-serif;
        font-weight: 100;
        padding-bottom: 1rem;
  
        .number {
          color: red;
          font-weight: 400;
        }
  
        @include for-size(big-desktop-up) {
          font-size: 30px;
        }
      }
    }
    &-img {
      width: 10rem;
      height: 10rem;
      transform: translateX(0rem) translateY(0rem);
      object-fit: contain;

      @include for-size(big-desktop-up) {
        width: 20rem;
        height: 18rem;
      }
      
      &-container {
        @include flex-dat('center');
        width: 30%;
      }
    }
  }