$imgSize: 13rem;
$buttonSize: 80%;
$priceColor: $steel-blue;

.advert-1 {
  background-color: $beige;
  display: flex;
  padding-top: 3rem;
  padding-bottom: 3rem;
  padding-left: 1rem;
  overflow: hidden;

  @include for-size(tablet-landscape-up) {
    min-height: 15rem;
  }

  &-content {
    @include flex-dat('center', 'column');
    font-family: "roboto";
    width: 80%;
    text-align: center;

    &-callToAction {
      width: $buttonSize;
      z-index: 99;
    }

    &-heading {
      padding-bottom: 0.2rem;
    }

    &-subheading {
      padding-top: 0rem;
      padding-bottom: 0.5rem;
    }

    &-price {
      padding-bottom: 1rem;
      .number {
        color: $priceColor;
      }
    }
  }
  &-img {
    width: 350%;
    height: 350%;
    transform: translateX(0rem) translateY(1.5rem);
    object-fit: contain;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;

    @include for-size(tablet-landscape-up) {
      width: 300%;
      height: 700%;
      transform: translateX(0rem) translateY(5.5rem);

    }

    &-container {
      @include flex-dat('center', 'column');
      width: 50%;
      height: 5rem;
    }
  }
}
