.button {
    border: none;
    border-radius: 0;
    border-style: none;
    padding: 1rem;
    text-decoration: none;

    &-primary {
        color: $onyx;
        margin: 0.5rem;
        background-color: $beige;
    }

    &-onyx {
        color: white;
        background-color: $onyx;
    }
}