footer {
    display: flex;
    @include for-size(desktop-up) {
        width:100%;
        position: absolute;
        bottom: 0;
        display: none;
    }
    color: $footerColor;
    background-color: $footerBGColor;
    padding: $footerPadding;
}