input, textarea {
    background-color: $optInInputBGColor;
    border-style: none;
    border-bottom: 2px solid $optInInputLineColor;
    margin: 0.5rem;
    padding-top: 0.5rem;
    padding-left: 1rem;
    color: $optInInputColor;
}