.navbar {
    @include flex-dat('space-between', 'row');
    font-family: "roboto";
    max-height: 5vh;
    background-color: $navbarBGColor;
    color: $navbarColor;
    padding: $navbarPadding;

    .navbar-btn {
        color: white;
        margin-left: 0.5rem;
        margin-right: 0.5rem;
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
        text-decoration: none;
    }

    h2 {
        position: relative;
        
        @include for-size(tablet-landscape-up) {
            right: 13%;
        }

        a{
            color: white;
            text-decoration: none;
        }
    }

    &-mobile {
        display: none;
        font-family: "roboto";
        color: white;
        flex-direction: column;
        align-items: center;
        background-color: $onyx;
        font-size: 2rem;
        min-height: 35vh;

        @include for-size(tablet-landscape-up) {
            display: none;
        }


        a {
            color: white;
            text-decoration: none;
            padding: 0.8rem;
        }

        &-btn {
            @include flex-dat('center');
            padding-top: 0.8rem;
            padding-bottom: 2rem;
            transform: translateX(0.2rem);

            button {
                padding-top: 0.8rem !important;
                padding-bottom: 0.8rem !important;
                margin-left: 0.3rem;
                margin-right: 0.3rem;
            }
        }
    }

    &-start {
        display: none;
        
        @include for-size(tablet-landscape-up) {
            display: flex;
        }
    }

    &-end {
        display: none;

        @include for-size(tablet-landscape-up) {
            display: flex;
        }
    }

    &-toggle {
        display: flex;
        color: $navbarToggleColor;
        font-size: 1.5rem;
        
        @include for-size(tablet-landscape-up) {
            display: none;
        }
    }
}