.opt-in {
  @include flex-dat('center', 'column');
  background-color: $optInBGColor;
  padding: $optInPadding;

  &-headings {
    @include flex-dat('center', 'column');
    font-family: "Roboto", sans-serif;
    padding-bottom: 2rem;

    h2 {
      font-weight: 100;
      font-size: 24;
    }

    p {
      font-weight: 100;
      font-size: 13;
    }
  }

  form {
    @include flex-dat('center', 'column');

    input[type="submit"] {
      border-style: none;
      border-radius: 200px;
      width: 7rem;
      background-color: $optInSubmitButton;
      color: white;
      font-weight: 400;
      font-size: 14px;
      font-family: "Roboto", sans-serif;
      margin-top: 2rem;
    }

    .input-group {
      input[type="text"],
      input[type="email"] {
        min-width: 300px;
        height: 60px;

        @include for-size(tablet-landscape-up) {
          min-width: 400px;
        }
      }

      label {
        display: flex;
        transform: translateY(2.2rem) translateX(1.2rem);
        color: $optInInputLabelColor;
        font-weight: 300;
        font-family: "Roboto";
        font-size: 0.8rem;
      }
    }
  }
}
