.product-card {
  color: white;
  border: 4px solid $onyx;
  max-width: 20rem;
  max-height: 26.5rem;
  margin: 2rem;

  img {
    max-width: 20rem;
    max-height: 20rem;
  }

  &-details {
    @include flex-dat('center', 'column');
    padding: 1rem;
    background-color: $onyx;
  }

  &-title {
    font-weight: 100;
  }

  &-price {
    padding-top: 1rem;
    font-weight: 100;
  }
}