.slider {
    transition: background-image 0.5s;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    color: black;
    background: $sliderDefaultBG;
    background-size: cover;
    background-position: center;

    min-height: 15rem;
    @include for-size(tablet-landscape-up) {
        min-height: 30rem;
    }   

    .controls {
        @include flex-dat('end', 'space-between');
        margin: 1rem;
        font-size: 1.5rem;
        color: $sliderControlColor;
        position: relative;
        height: 2rem;
        width: 6rem;

        i {
            padding-left: 0.5rem;
            padding-right: 0.5rem;
        }
    }
}